<div class="container">    
    <div class="text-center">
        <h1>Voyage en détails</h1>
        <div class="card" *ngFor="let t of lesVoyages">
            <div *ngFor="let p of t.description">
        <div class="card-header">{{p.texte|titlecase}}</div>
         <div class="card-body">Description du pays : {{t.destination}} <br>Planning : {{p.planning}}</div> 
        <div class="card-footer">Hotel : {{p.hotel}} {{p.etoile}} étoiles</div> 
        <button class="btn" routerLink="/listVoyage" >Retour</button>
    </div>
        </div>
    </div>
{{lesVoyages|json}}
</div>

