<div class="container">    
        <div class="text-center">
            <h1>Voyage en détails</h1>
            <div class="card">
            <div class="card-header">{{description.destination|titlecase}}</div>
            <div class="card-body">Description dy pays : {{description.texte}} Planning : {{description.planning}}</div> 
            <div class="card-footer">Hotel : {{description.hotel}} {{description.etoile}} étoiles</div>
            <button class="btn" routerLink="/listVoyage" >Retour</button>
            </div>
        </div>
    
</div>
