

   
 
<nav class="nav justify-content-center "> 
    <div class=" navbar-expand-xl navbar-light bg-light ">
    <ul class="nav nav-tabs"> 
        <li class="nav-item">
    <a class="nav-link text-secondary" routerLink="/accueil" routerLinkActive="c1">Accueil</a>
    </li>
    <li class="nav-item">
    <a class="nav-link  text-secondary" routerLink="/listVoyage" routerLinkActive="c1">Nos voyages</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-secondary" routerLink="/apropos" routerLinkActive="c1">A propos</a>
    </li>
    <li class="nav-item">
    <a class="nav-link  text-secondary" routerLink="/contact" routerLinkActive="c1">Contact</a>
    </li>
    </ul>
   </div>
  </nav>


