
  <div [ngStyle]="{backgroundImage:'url(assets/font.jpg)'}" >
    <div class="text-center">
    <h1 >Best Tunisia Travel  <br>  est la meilleure choix pour une vacance inoubliable 
      <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  
    </h1>
</div></div>
hoonii :<br>
boutton de recherche + continents <br><br>
<footer class="  text-center">
 
   
      <div class="footer card " >
        <p> <strong>ADDRESSE</strong><br>
        Tunis, Charguia, 2 Rue Des Entrepreneur <br>
        <strong>TELEPHONE</strong><br>
        +216 99 999 999<br>
        <strong>EMAIL</strong><br>
        BestTunisiaTravel@gmail.com   <br>
           <a href="https://www.facebook.com" class="btn  "><img src="assets/facebook.png" class="facebook" /></a>
            <a href="https://www.instagram.com"  class="btn"><img src="assets/instagram.png" class="insta" /></a>
         
          </p>   
      
    </div></footer>
