img{
    width: 1528px;
}
h1{
    color:slategrey;
  position: relative;
    max-height: 120px;
    display: inline-block;
    margin-top: 250px;
  }
  .facebook,.insta{

      width: 50px;
      height: 25px;
  }
  footer{
      font-size: 15px;
      border-left: 0 ;
      border-right: 0;
      border-bottom: 0;
      border-top:5px solid gainsboro;
  }
