
<section [ngStyle]="{backgroundImage:'url(assets/font.jpg)'}" >
  <div class="text-center">
    <h1 >Best Tunisia Travel  <br>  est le meilleur choix pour une vacance inoubliable 
      
    </h1>
  </div>
</section>

<section>
  <div>
    <div><p>AFRIQUE</p><img  [routerLink]="['/listVoyage']" classe="img-fluid" src="assets/afrique.jpg"></div>
    <div ><p>EUROPE </p> <a  (click)="onClick()"><img classe="img-fluid" src="assets/europe.jpg"></a></div>
    <div ><p>AMERIQUE DU NORD </p><a  (click)="onClick()"><img classe="img-fluid" src="assets/ameriqueDuNord.jpg"></a></div>
  </div>
  <div>
    <div ><p>AMERIQUE DU SUD</p> <a  (click)="onClick()"><img classe="img-fluid" src="assets/ameriqueDuSud.jpg"></a></div>
    <div ><p>AUSTRALIE</p><a  (click)="onClick()"><img classe="img-fluid" src="assets/australie.jpg"></a></div>
    <div ><p>L'ASIE</p><a  (click)="onClick()"><img classe="img-fluid" src="assets/asie.jpg"></a></div>
  </div>
</section>

<section>
  <form [formGroup]="f" >
    <legend>Recherche avancée</legend>
    <fieldset>
    <div>
      <label>Destination -</label>
      <input type="text" class="form-control" formControlName="dest" >
       
  </div>
  
  </fieldset>

  <button 
   [routerLink]="['/listVoyage',f.get('dest')?.value]" class="btn">Rechercher</button>
  
  </form>
</section>
